[submodule "rocksdb_sys/snappy"]
	path = librocksdb-sys/snappy
	url = https://gitee.com/brother18/snappy.git
[submodule "rocksdb_sys/rocksdb"]
	path = librocksdb-sys/rocksdb
	url = https://gitee.com/brother18/rocksdb.git
